#### Задание (0/2)
- [x] Найти в открытых источниках или составить самостоятельно таблицу среднего дохода (PPP) в зависимости от страны
- [x] Построить график корреляции между средним доходом (PPP) и ценой подписки 

#### Вопросы (0/7)
- [x] Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от валюты страны.
- [x] Какая средняя цена подписки, (базовой, стандартной, премиум) в зависимости от континента
- [x] Сколько стоит подписка относительно среднего дохода (базовая, стандартная, премиум) в Чехии?
- [x] Какие топ-5 стран имеют самую большую доступную коллекцию сериалов?
- [x] Какой процент среднего дохода россиянина будет составлять подписка Netflix?
- [x] На каком месте будет Россия, если отсортировать страны по эффективности подписки (Cost Per Title)
- [x] В какой стране лучше всего брать VPN для того, чтобы платить за Netflix меньше всего?

#### Ограничения (0/5)
- [x] Данные, используемые в ноутбуке с решением, должны подтягиваться через url c удаленного источника (википедии, google sheets, etc)
- [x] Нельзя использовать циклы for, while для работы с данными. Используйте инструменты Pandas
- [ ] Должны присутствовать методы df.apply, pd.merge, pd.concat
- [x] В приведенной статье есть готовые выводы, их нельзя использовать.
- [x] Решение оформить в виде репозитория на github.com

<h2 style="color:red">Нет pd.apply. pd.concat тоже, но merge за него можно зачесть </h2>

In [161]:
import pandas as pd
#import matplotlib.pyplot as plt

In [162]:
currency_url = 'https://docs.google.com/spreadsheets/d/1EXek9d4CDuHBVYMu34Ii95brRMx4mUlkxxs7Aodb14E/export?gid=0&format=csv'
data_country = pd.read_csv(currency_url)
data_country

          country               currency            continent
0         Абхазия       Российский рубль                 Азия
1       Австралия   Австралийский доллар  Австралия и Океания
2         Австрия                   Евро               Европа
3     Азербайджан  Азербайджанский манат                 Азия
4         Албания                    Лек               Европа
..            ...                    ...                  ...
192           ЮАР                   Рэнд               Африка
193  Южная Осетия       Российский рубль                 Азия
194   Южный Судан     Южносуданский фунт               Африка
195        Ямайка        Ямайский доллар     Северная Америка
196        Япония                   Иена                 Азия

[197 rows x 3 columns]

In [163]:
salary_url = 'https://docs.google.com/spreadsheets/d/1-z7Md6fkGs1bmkTwGgxw7d_hsUVVWBPxWCoeo3EunAc/export?gid=0&format=csv'
data_salary = pd.read_csv(salary_url)
data_salary

       country  salary  country_eng
0    Швейцария    6244  Switzerland
1        Дания    6192      Denmark
2   Люксембург    5854   Luxembourg
3     Норвегия    5450       Norway
4     Исландия    5436      Iceland
..         ...     ...          ...
72       Алжир     335      Algeria
73     Вьетнам     241      Vietnam
74   Филиппины     200  Philippines
75       Индия     119        India
76        Куба      30         Cuba

[77 rows x 3 columns]

In [164]:
data_salary.dtypes

country        object
salary          int64
country_eng    object
dtype: object

In [165]:
netflix_url = 'https://docs.google.com/spreadsheets/d/1GSqMBPbAwrWKXWfuLWjNQOqBwLoFR0hq8fzu4pawxi0/export?gid=0&format=csv'
data_netflix = pd.read_csv(netflix_url)
data_netflix

           Country  ...  Cost Per Month - Premium ($)
0        Argentina  ...                          9.26
1        Australia  ...                         16.39
2          Austria  ...                         20.32
3          Belgium  ...                         20.32
4          Bolivia  ...                         13.99
..             ...  ...                           ...
60         Ukraine  ...                         11.29
61  United Kingdom  ...                         18.48
62   United States  ...                         17.99
63         Uruguay  ...                         15.99
64       Venezuela  ...                         13.99

[65 rows x 7 columns]

In [166]:
data_country_full = data_salary.merge(data_country, how='left',left_on='country',right_on='country')
data_country_full

       country  salary  country_eng           currency         continent
0    Швейцария    6244  Switzerland  Швейцарский франк            Европа
1        Дания    6192      Denmark      Датская крона            Европа
2   Люксембург    5854   Luxembourg               Евро            Европа
3     Норвегия    5450       Norway   Норвежская крона            Европа
4     Исландия    5436      Iceland   Исландская крона            Европа
..         ...     ...          ...                ...               ...
72       Алжир     335      Algeria    Алжирский динар            Африка
73     Вьетнам     241      Vietnam               Донг              Азия
74   Филиппины     200  Philippines  Филиппинское песо              Азия
75       Индия     119        India    Индийская рупия              Азия
76        Куба      30         Cuba     Кубинское песо  Северная Америка

[77 rows x 5 columns]

In [167]:
data = data_netflix.merge(data_country_full, how='inner',left_on='Country',right_on='country_eng')
data

           Country  ...            continent
0        Argentina  ...        Южная Америка
1        Australia  ...  Австралия и Океания
2          Austria  ...               Европа
3          Belgium  ...               Европа
4           Brazil  ...        Южная Америка
5         Bulgaria  ...               Европа
6           Canada  ...     Северная Америка
7            Chile  ...        Южная Америка
8          Croatia  ...               Европа
9          Czechia  ...               Европа
10         Denmark  ...               Европа
11         Ecuador  ...        Южная Америка
12         Estonia  ...               Европа
13         Finland  ...               Европа
14          France  ...               Европа
15         Germany  ...               Европа
16          Greece  ...               Европа
17       Hong Kong  ...                  NaN
18         Hungary  ...               Европа
19         Iceland  ...               Европа
20           India  ...                 Азия
21         Ireland  ...               Европа
22          Israel  ...                 Азия
23           Italy  ...               Европа
24           Japan  ...                 Азия
25          Latvia  ...               Европа
26       Lithuania  ...               Европа
27        Malaysia  ...                 Азия
28          Mexico  ...     Северная Америка
29         Moldova  ...               Европа
30     Netherlands  ...               Европа
31     New Zealand  ...  Австралия и Океания
32          Norway  ...               Европа
33            Peru  ...        Южная Америка
34     Philippines  ...                 Азия
35          Poland  ...               Европа
36        Portugal  ...               Европа
37         Romania  ...               Европа
38          Russia  ...               Европа
39      San Marino  ...               Европа
40       Singapore  ...                 Азия
41        Slovakia  ...               Европа
42    South Africa  ...               Африка
43     South Korea  ...                  NaN
44           Spain  ...               Европа
45          Sweden  ...               Европа
46     Switzerland  ...               Европа
47          Taiwan  ...                  NaN
48        Thailand  ...                 Азия
49          Turkey  ...                 Азия
50         Ukraine  ...               Европа
51  United Kingdom  ...               Европа
52   United States  ...     Северная Америка
53         Uruguay  ...        Южная Америка

[54 rows x 12 columns]

#Средняя цена подписки в зависимости от валюты

In [168]:
data.groupby('currency')['Cost Per Month - Basic ($)'].mean().reset_index().sort_values(by='Cost Per Month - Basic ($)', ascending=False)

                    currency  Cost Per Month - Basic ($)
34         Швейцарский франк                    12.88000
6              Датская крона                    12.00000
33            Шведская крона                    10.90000
20  Новый израильский шекель                    10.56000
22          Норвежская крона                     9.94000
25       Сингапурский доллар                     9.51000
8                       Евро                     9.17125
12          Исландская крона                     9.03000
3             Болгарский лев                     9.03000
18            Молдавский лей                     9.03000
15                       Лей                     9.03000
14                      Куна                     9.03000
27          Уругвайское песо                     8.99000
31             Чешская крона                     8.83000
19     Новозеландский доллар                     8.80000
10                      Иена                     8.73000
7                 Доллар США                     8.49000
2                        Бат                     8.34000
16      Малайзийский ринггит                     8.29000
23          Российский рубль                     8.13000
13          Канадский доллар                     7.91000
30           Фунт стерлингов                     7.91000
0       Австралийский доллар                     7.84000
29                    Форинт                     7.64000
28         Филиппинское песо                     7.35000
9                     Злотый                     7.13000
32            Чилийское песо                     7.07000
17         Мексиканское песо                     6.62000
24                      Рэнд                     6.26000
21                Новый соль                     6.11000
5                     Гривна                     5.64000
4           Бразильский реал                     4.61000
1          Аргентинское песо                     3.74000
11           Индийская рупия                     2.64000
26             Турецкая лира                     1.97000

In [169]:
data.groupby('currency')['Cost Per Month - Standard ($)'].mean().reset_index().sort_values(by='Cost Per Month - Standard ($)', ascending=False)

                    currency  Cost Per Month - Standard ($)
34         Швейцарский франк                       20.46000
20  Новый израильский шекель                       15.05000
6              Датская крона                       15.04000
12          Исландская крона                       14.67000
33            Шведская крона                       14.20000
8                       Евро                       13.54375
30           Фунт стерлингов                       13.20000
10                      Иена                       13.13000
27          Уругвайское песо                       12.99000
25       Сингапурский доллар                       12.81000
19     Новозеландский доллар                       12.53000
7                 Доллар США                       12.49000
22          Норвежская крона                       12.17000
0       Австралийский доллар                       12.12000
13          Канадский доллар                       11.87000
31             Чешская крона                       11.49000
14                      Куна                       11.29000
18            Молдавский лей                       11.29000
3             Болгарский лев                       11.29000
15                       Лей                       11.29000
23          Российский рубль                       10.84000
29                    Форинт                       10.71000
16      Малайзийский ринггит                       10.65000
9                     Злотый                       10.58000
2                        Бат                       10.43000
17         Мексиканское песо                       10.43000
24                      Рэнд                       10.05000
32            Чилийское песо                        9.91000
28         Филиппинское песо                        9.14000
21                Новый соль                        8.56000
5                     Гривна                        8.46000
4           Бразильский реал                        7.11000
11           Индийская рупия                        6.61000
1          Аргентинское песо                        6.30000
26             Турецкая лира                        3.00000

In [170]:
data.groupby('currency')['Cost Per Month - Premium ($)'].mean().reset_index().sort_values(by='Cost Per Month - Premium ($)', ascending=False)

                    currency  Cost Per Month - Premium ($)
34         Швейцарский франк                      26.96000
12          Исландская крона                      20.32000
33            Шведская крона                      19.70000
6              Датская крона                      19.60000
20  Новый израильский шекель                      19.54000
30           Фунт стерлингов                      18.48000
8                       Евро                      17.91875
22          Норвежская крона                      17.75000
10                      Иена                      17.45000
19     Новозеландский доллар                      16.94000
0       Австралийский доллар                      16.39000
25       Сингапурский доллар                      16.11000
27          Уругвайское песо                      15.99000
7                 Доллар США                      15.99000
13          Канадский доллар                      15.03000
9                     Злотый                      14.76000
17         Мексиканское песо                      14.24000
31             Чешская крона                      14.15000
29                    Форинт                      13.78000
23          Российский рубль                      13.56000
18            Молдавский лей                      13.54000
15                       Лей                      13.54000
3             Болгарский лев                      13.54000
14                      Куна                      13.54000
16      Малайзийский ринггит                      13.02000
32            Чилийское песо                      12.74000
24                      Рэнд                      12.58000
2                        Бат                      12.52000
5                     Гривна                      11.29000
21                Новый соль                      11.01000
28         Филиппинское песо                      10.93000
4           Бразильский реал                       9.96000
1          Аргентинское песо                       9.26000
11           Индийская рупия                       8.60000
26             Турецкая лира                       4.02000

#Средняя цена подписки в зависимости от континента

In [171]:
data.groupby('continent')['Cost Per Month - Basic ($)'].mean().reset_index().sort_values(by='Cost Per Month - Basic ($)', ascending=False)

             continent  Cost Per Month - Basic ($)
3               Европа                    9.125484
0  Австралия и Океания                    8.320000
4     Северная Америка                    7.840000
1                 Азия                    7.173750
5        Южная Америка                    6.418333
2               Африка                    6.260000

In [172]:
data.groupby('continent')['Cost Per Month - Standard ($)'].mean().reset_index().sort_values(by='Cost Per Month - Standard ($)', ascending=False)

             continent  Cost Per Month - Standard ($)
3               Европа                      13.021935
0  Австралия и Океания                      12.325000
4     Северная Америка                      12.096667
1                 Азия                      10.102500
2               Африка                      10.050000
5        Южная Америка                       9.310000

In [173]:
data.groupby('continent')['Cost Per Month - Premium ($)'].mean().reset_index().sort_values(by='Cost Per Month - Premium ($)', ascending=False)

             continent  Cost Per Month - Premium ($)
3               Европа                     17.135806
0  Австралия и Океания                     16.665000
4     Северная Америка                     15.753333
1                 Азия                     12.773750
2               Африка                     12.580000
5        Южная Америка                     12.158333

#Сколько стоит подписка относительно среднего дохода (базовая, стандартная, премиум) в Чехии?

In [174]:
(data[data['Country'] == 'Czechia']['Cost Per Month - Basic ($)'].values / data[data['Country'] == 'Czechia']['salary'].values)[0]

0.006072902338376891

In [175]:
(data[data['Country'] == 'Czechia']['Cost Per Month - Standard ($)'].values / data[data['Country'] == 'Czechia']['salary'].values)[0]

0.007902338376891334

In [176]:
(data[data['Country'] == 'Czechia']['Cost Per Month - Premium ($)'].values / data[data['Country'] == 'Czechia']['salary'].values)[0]

0.009731774415405778

#Какие топ-5 стран имеют самую большую доступную коллекцию сериалов?

In [177]:
data.sort_values(by='No. of TV Shows',ascending=False).head(5).reset_index()['Country']

0           Czechia
1          Slovakia
2          Bulgaria
3           Hungary
4    United Kingdom
Name: Country, dtype: object

#Какой процент среднего дохода россиянина будет составлять подписка Netflix?

In [178]:
(data[data['Country'] == 'Russia']['Cost Per Month - Standard ($)'].values / data[data['Country'] == 'Russia']['salary'].values)[0]*100

1.3756345177664975

#На каком месте будет Россия, если отсортировать страны по эффективности подписки (Cost Per Title)

In [179]:
data['Cost_Per_Title_Basic'] = data['Cost Per Month - Basic ($)']/data['Total Library Size']

In [180]:
sort_data = data.sort_values(by='Cost_Per_Title_Basic',ascending=True).reset_index(drop=True)
sort_data[sort_data['Country'] == 'Russia'].index.values[0] + 1

25

#В какой стране лучше всего брать VPN для того, чтобы платить за Netflix меньше всего?

In [181]:
sort_data['Country'].values[0]

'Turkey'